@model Mattstone.Models.Chore

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChoreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
