@model Mattstone.Models.ViewModels.ChoreIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<h2>Chores!</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <dd>
                Name
            </dd>
            <dd>
                Done
            </dd>
            <dd>
                Day
            </dd>
            <dd>
                Who's Chore?
            </dd>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chores)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day.DayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserHandle)
            </td>
            <td></td>
        </tr>
        }


        @*<a asp-action="Edit" asp-route-id="@Model.Chores.ChoreId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Chore.ChoreId">Delete</a> |
        <a asp-action="Details" asp-route-id="@Model.Chore.ChoreId">Details</a>*@
    </tbody>
</table>
