@model IEnumerable<Mattstone.Models.Chore>

@{
    ViewData["Title"] = "Index";
}

<h2>Chores!</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day.DayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day.DayName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
