@model Mattstone.Models.ViewModels.FamilyDetialViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Family</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Family.FamilyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Family.FamilyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.FamilyId)
        </dd>
        <dt>
            Family user names
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.User)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Family.FamilyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
