@model Mattstone.Models.ViewModels.FamilyDetialViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Your Family</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Family Last Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.FamilyName)
        </dd>
        <br/>
        <dt>
            Family Members:
        </dt>
        @*For Loop to get User Handle for display*@
        @foreach (var item in Model.Users)
        {
            <div class="dl-horizontal">
                <dd>
                    @item.FamilyRole:  @item.UserHandle, @item.UserName
                </dd>
                <br />
                <dd>
                </dd>
            </div>
        }
        <dt>
            Family Id #:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.FamilyId)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsParent == true)
    {
        @*<a asp-action="Edit" asp-route-id="@Model.Family.FamilyId">Edit Family Name</a> |*@
    }
        <a asp-action="Index">Back to List</a>
    </div>
