@model IEnumerable<Mattstone.Models.Family>

@{
    ViewData["Title"] = "Index";
}

<h2>Directory - All Families</h2>
    <div class="modal-header">
        <a asp-action="Create">Create New</a>
    </div>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.FamilyName)
                </td>
                <td>
                        @*<a asp-action="Edit" asp-route-id="@item.FamilyId">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.FamilyId">Details</a>
                        @*<a asp-action="Delete" asp-route-id="@item.FamilyId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
